.cart_final {
    background-color: rgba(62, 4, 4, 0.537);
    margin-left: auto;
    margin-right: auto;
    width: 70%;


}

thead tr th{
    background: rgba(62, 4, 4, 0.537) !important;
    color: antiquewhite !important;
}

.total{
    text-align: right;
}

.footer{
    text-align: center;    
}

.btn-limpiar{
    margin-right: 10px;
}
