.ItemDetail{
    background-color: rgba(62, 4, 4, 0.537);
    width: 40rem;
    margin: 1%;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
}

.ItemDetailInfo{
    margin-bottom: 2px;
}

.ItemDetailFooter{
    margin-top: 0.5rem;
    text-align: center;
}
